/* quick nav section */
#quick-nav h2{
    display: flex;
    justify-content: center;
}
#quick-nav a{
    display: flex;
    justify-content: center;
}
/* activities section */
#page img{
    max-width: 100%;
    max-height: 100%;
    padding: 2em;
}
#page h2{
    padding: 1em;
}
#page p{
    padding: 1em;
}