/* grid */
.activity{
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}
/* quick nav */
#quick-nav h2{
    display: flex;
    justify-content: center;
}
#quick-nav a{
    display: flex;
    color: rgb(71, 71, 179);
    text-decoration: none;
}
#quick-nav a:hover{
    color: #FFFFFF;
    transition: all 300ms;
}
#quick-nav ul{
    display: flex;
    justify-content: center;
    margin: 1em;
    list-style-type: none;
}
#quick-nav ul li{
    padding: 1em;
}

/* interests sections */
#page img{
    max-width: 100%;
    max-height: 100%;
    width: fit-content;
    height: fit-content;
    object-fit: cover;
}
#page p{
    padding: 1em;
    width: fit-content;
    height: fit-content;
}
#page h2{
    display: flex;
    justify-content: center;
}

.activity a{
    display: flex;
    justify-content: center;
    color: rgb(71, 71, 179);
    text-decoration: none;
}
.activity a:hover{
    color: #FFFFFF;
    transition: all 300ms;
}