@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* resets */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

/* global styles */

/* page layout - main */

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav {
    background-color: #393D3F;
    color: #FFFFFF;
}

nav #main-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav #main-nav a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 48px;
    font-weight: 700;
    padding: 20px 30px;
}

@media only screen and (max-width: 730px){
    nav #main-nav a{
        font-size: 24px;
    }
}

nav #main-nav a:hover{
    background-color: #2d2f30;
}

nav #main-nav li.active a{
    background-color: #2d2f30;
}

main {
    background-color: #969899;
}

#page {
    background-color: #c4c4c4;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

footer{
    background-color: #393D3F;
    color: #FFFFFF;
}

footer #footer-nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    color: #bbbbbb;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

footer #footer-nav a{
    color: #bbbbbb;
}

footer #footer-nav a:hover{
    color: #FFFFFF;
    transition: all 500ms;
}

