#page img{
    max-width: 100%;
    max-height: 100%;
}

#page h1, #page p{
    display: flex;
    justify-content: center;
    padding: 1em;
}

.section{
    display: inline-grid;
    grid-template-columns: 1fr;
}
