#page img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.sections img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

#page h1, #page p{
    display: flex;
    justify-content: center;
    padding: 1em;
}

.sections{
    display: flex;
}
.sections h2{
    display: flex;
    justify-content: center;
}
.sections > *{
    flex-basis: 100%;
}
