#page img{
    max-width: 100%;
    max-height: 100%;
}

#page h1, #page p{
    display: flex;
    justify-content: center;
    padding: 1em;
}

.sections{
    display: flex;
}
.sections h2{
    display: flex;
    justify-content: center;
}
.sections > *{
    flex-basis: 100%;
}
/* .sections img{
    border-radius: 50%;
} */
