.interest{
    display: inline-grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}
/* quick nav */
#quick-nav h2{
    display: flex;
    justify-content: center;
}
#quick-nav a{
    display: flex;
    color: black;
    text-decoration: none;
}
#quick-nav a:hover{
    color: #FFFFFF;
    transition: all 300ms;
}
#quick-nav ul{
    display: flex;
    justify-content: center;
    margin: 1em;
    list-style-type: none;
}
#quick-nav ul li{
    padding: 1em;
}
/* #quick-nav img{
    border-radius: 50%;
} */

/* interests sections */
#page img{
    max-width: 100%;
    max-height: 100%;
    width: fit-content;
    height: fit-content;
    padding: 2em;
}
#page p{
    padding: 1em;
    width: fit-content;
    height: fit-content;
}
#page h2{
    display: flex;
    justify-content: center;
}